#footer {
    background: transparent !important;
}
#page-header {
    background: transparent !important;
}

#footer::before {
    background: transparent !important;
}
#page-header::before {
    background: transparent !important;
}
[data-theme="dark"] #floor::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

@font-face {
    font-family: 'YSHST';
    src: url(/font/yt.woff2); 
    font-weight: normal;
    font-style: normal;
    font-display: block;  
}

#pagination {
    width: 100%;
    margin: auto;
}

#nav .menus_items {
 position: absolute !important;
 width: fit-content !important;
 left: 50% !important;
 transform: translateX(-50%) !important;
}

#nav .menus_items .menus_item:hover .menus_item_child {
 display: flex !important;
}

.menus_items .menus_item:nth-child(5) .menus_item_child {
 left: -38px;
}

/* 日间模式不生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
  animation: none;
}
/* 夜间模式生效 */

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info{
    background: linear-gradient(
      -45deg,
      #e8d8b9,
      #eccec5,
      #a3e9eb,
      #bdbdf0,
      #eec1ea
    );
}

    :root {
        --trans-light: rgba(255, 255, 255, 0.88);
        --trans-dark: rgba(25, 25, 25, 0.88);
        --border-style: 1px solid rgb(169, 169, 169);
        --backdrop-filter: blur(5px) saturate(150%);
      }
      
      /* 首页文章卡片 */