#footer {
    background: transparent !important;
}
#page-header {
    background: transparent !important;
}

#footer::before {
    background: transparent !important;
}
#page-header::before {
    background: transparent !important;
}
[data-theme="dark"] #floor::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}


@font-face {
  /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
  font-family: 'PMZDCST';
  font-display: swap;
  src: url('./Inconsolata.sfd') format("truetype");
}

body {
  font-family: '字体名字';
}

#pagination {
    width: 100%;
    margin: auto;
}

#nav .menus_items {
 position: absolute !important;
 width: fit-content !important;
 left: 50% !important;
 transform: translateX(-50%) !important;
}

#nav .menus_items .menus_item:hover .menus_item_child {
 display: flex !important;
}

.menus_items .menus_item:nth-child(5) .menus_item_child {
 left: -38px;
}

/* 日间模式不生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title,
[data-theme="light"] #site-subtitle,
[data-theme="light"] #post-info {
  animation: none;
}
/* 夜间模式生效 */

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info{
    background: linear-gradient(
      -45deg,
      #e8d8b9,
      #eccec5,
      #a3e9eb,
      #bdbdf0,
      #eec1ea
    );
}

    :root {
        --trans-light: rgba(255, 255, 255, 0.88);
        --trans-dark: rgba(25, 25, 25, 0.88);
        --border-style: 1px solid rgb(169, 169, 169);
        --backdrop-filter: blur(5px) saturate(150%);
      }
      
      /* 首页文章卡片 */

/* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 4s linear infinite;
  animation: ccc 4s linear infinite;
}
/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
/* 设置风车颜色 */
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}
/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: var(--theme-color);
}
#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: var(--theme-color);
  -webkit-animation: ccc 6s linear infinite;
  animation: ccc 6s linear infinite;
}

/* 鼠标样式 */
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  /* 这里改变跟随的底色 */
  background: var(--theme-color);
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

  /* 修改本地搜索样式 */
  div#local-search .search-dialog{
    border-radius: 10px;
    color: rgb(20, 20, 20);
    border: 1px solid #98d3d370;
    /* box-shadow: 5px 5px 5px #a0a0a0; */
    /*底色*/
    background-color:#ffffffaa;
    /*chrome2+,safari4+;multiplecolorstops*/
    background-image:-webkit-gradient(linear,leftbottom,righttop,color-stop(0.32,#ce1ef170),color-stop(0.66,#0fe9e970),color-stop(0.83,#3e76aa70));
    /*chrome10+,safari5.1+*/
    background-image:-webkit-linear-gradient(45deg,#ce1ef170,#0fe9e970,#3e76aa70);
    /*firefox;multiplecolorstops*/
    background-image:-moz-linear-gradient(45deg,#ce1ef170,#0fe9e970,#3e76aa70);
  }
  a.search-result-title{
    font-size: 18px;
  }
  [data-theme="dark"]
    a.search-result-title{
      color: rgb(37, 37, 37) !important;
    }
  div.local-search__hit-item a:hover{
    color: rgb(230, 84, 17) !important;
  }
  span.search-keyword{
    color: rgb(230, 17, 45) !important;
  }
  p.search-result{
    font-size: 17px;
  }
  div.search-dialog__title{
    color: rgb(230, 17, 45) !important;
  }
  div.search-dialog span.search-close-button:hover {
    color: #f84040;
  }
  
